<script defer src="/js/game.js" type="module"></script>
<div class="start">
  <form method="POST" action="">
    <label for="startValues">Start Values:</label> <input type="text" name="startValues" id="startValues">  
    <input class="playBtn" type="submit" value="Play">  
  </form>
</div>
<div class="game">
</div>